# Common settings that generally should always be used with your language specific settings
# Exclude files from exporting

# .gitattributes		export-ignore
# .gitignore			export-ignore
# .git				export-ignore
# .vscode				export-ignore
# graphics/source/	export-ignore
# meta/				export-ignore
# releases/			export-ignore

*					export-ignore
main/*				-export-ignore